table {
  border-collapse: collapse;
  vertical-align: top;
  vertical-align: bottom;
  vertical-align: middle;
  margin: 50px auto;
  text-align: center;
  border: 1px solid #acacac;
}

td {
  height: 100px;
  width: 300px;
  border-bottom: 1px solid #afafaf;
}

thead tr {
  border-bottom: 3px solid rgb(177, 177, 177);
  height: 50px;
}

tr td:nth-child(5) {
  cursor: pointer;
  height: 50px;
}

td > span {
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

tfoot th {
  height: 50px;
  background-color: #ffc500;
}

.item-des {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}

.edit {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}

.edit [class*="item-"] {
  width: 500px;
}

.item-content {
  width: 300px;
}

.item-price {
  text-align: center;
}
